@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
	--main-color-black: #1f2430;
	--main-color-white: #f7f7f0;
	--main-color-base: #aea43d;
	--main-color-second: #e0d5b4;
}

/*=============================================
GLOBAL
=============================================*/
*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

body{
	color: var(--main-color-black);
}
button {
	border: transparent;
}

ul, ol{
	padding:0px;
}
a {
	color: var(--main-color-base);
}
a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
}
header{
	background:var(--main-color-base);
}
.topBar{
	background:var(--main-color-white);
}
.topBar a{
	colow: var(--main-color-black);
}
.btn-primary {
	color: var(--main-color-white);
	background-color: var(--main-color-base);
}
.backColor, .backColor a{
	background:var(--main-color-second);
	color:var(--main-color-black);
}
.bWhite {
	background: var(--main-color-white);
}
#carrito {
	display: contents;
}
.btn-default:hover,.btn-default:active,.btn-default:focus{
	background:var(--main-color-second);
	opacity: .8;
}
.btn-default:hover{
	border: 2px solid #000000;
}
.breadcrumb{
	background: none;
	text-transform: lowercase;
	font-size: 1.5rem;
	font-weight: 500;
}
.breadcrumb li a{
	color: #777;
}

.fontSize{
	margin-right: 5px;
}

.dropbox {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--main-color-black);
}

.card.card-body {
	border-bottom: 1px solid var(--main-color-black);
	padding: 0.5rem 1rem;
}

.slick-arrow {
	position: absolute;
	z-index: 3;
	top: 50%;
	width: 20px;
	height: 20px;
	color: transparent;
	background: transparent;
	border: none;
	border-top: 2px solid rgba(0,0,0,.5);
	border-left: 2px solid rgba(0,0,0,.5);
	margin-top: -10px;
}
.slick-prev {
	left: 15px;
	transform: rotate(-45deg);
}
.slick-next {
	right: 15px;
	transform: rotate(135deg);
}
.noSlide {
	display: flex;
	justify-content: center;
}

/*=============================================
GENÉRICOS
=============================================*/
.borderR {
	border-radius: 6px;
}
.borderTopR {
	border-radius: 6px 6px 0 0;
}
.borderBottomR {
	border-radius: 0 0 6px 6px;
}
.titleWhite {
	color: var(--main-color-white);
	text-align: center;
	font-weight: 600;
	font-size: 1.5em;
}
.titleBlack {
	color: var(--main-color-black);
	text-align: center;
	font-weight: 600;
	font-size: 1.5em;
}
.titleBase {
	color: var(--main-color-base);
	text-align: center;
	font-weight: 600;
	font-size: 1.5em;
}
.textBase {
	color: var(--main-color-base);
	text-align: center;
	font-size: 1.5em;
}
.textInMidle {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	margin: 0;
}
.mr-1{
	margin-right: 1rem;
}
.mt-1{
	margin-top: 1rem;
}
.mb-1{
	margin-bottom: 1rem;
}
.ml-1{
	margin-left: 1rem;
}
.padBasic {
	padding: .23rem .5rem;
}
.width25 {
	width: 25%;
}
.width50 {
	width: 50%;
}
.width100 {
	width: 100%;
}
/*=============================================
ESPÉCIFICOS
=============================================*/
.adviceMensages, .loginMensages, .passwordMensages, .passQueryMensages {
	display: none;
}
li.user a {
	position: absolute;
	top: 24px;
	margin-left: -25px;
}

/*=============================================
PAGINATOR
=============================================*/
.pagination li a{
	color:var(--main-color-black);
}
.pagination li.disabled a{
	color:#CCCCCC;
}
.pagination li.active a{
	background:var(--main-color-base);
	color:var(--main-color-white);
}

/*=============================================
REDES SOCIALES
=============================================*/
.redSocial{
	width:30px;
	height:30px;
	text-align: center;
	line-height:30px;
}
/*FACEBOOK*/
.facebookBlanco{
	color:white;
}
.facebookNegro{
	color:black;
}
.facebookColor{
	color:white;
	background:#46639f;
}
.facebook{
	background: #46639f;
	text-align: center;
	color: #ffffff;
}
/*YOUTUBE*/
.youtubeColor{
	color:white;
	background:#d6513e;
}
.youtubeBlanco{
	color:white;
}
.youtubeNegro{
	color:black;
}
/*TWITTER*/
.twitterColor{
	color:white;
	background:#0ab2e6;
}
.twitterBlanco{
	color:white;
}
.twitterNegro{
	color:black;
}
/*GOOGLE PLUS*/
.googleColor{
	color:white;
	background:#d71617;
}
.googleBlanco{
	color:white;
}
.googleNegro{
	color:black;
}
.google{
	background: #d6513e;
	text-align: center;
	color: #ffffff;
}
/*INSTAGRAM*/
.instagramColor{
	color:white;
	background:linear-gradient(45deg, #fca925, #ee1d5f,  #6350a2);
}
.instagramBlanco{
	color:white;
}
.instagramNegro{
	color:black;
}
/*=============================================
ERROR 404
=============================================*/
.error404{
	color:#333;
}
/*=============================================
SCROLL UP
=============================================*/
#scrollUp{
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	background: url(../img/flecha.jpg);
}
/*=============================================
FINDER
=============================================*/
#finder{
	display: none;
	position: absolute;
	z-index: 10;
	background-color: var(--main-color-white);
	width: 94%;
	margin-left: 3%;
	box-shadow: 1px 1px 1px 1px gray;
}
#finder .close{
	width: 100%;
}
#finder figure{
	display: flex;
	justify-content: center;
}
#finder h4{
	color: var(--main-color-black);
}
#finder figure a img
{
	width: 300px;
	height: 400px;
}
@media (max-width: 767px)
{
	#finder figure a img
	{
		width: 100px;
		height: 150px;
	}
}
/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/
@media (min-width:1200px){
	.col-lg-0{
		display: none;
	}
	.error404 h1{
		font-size:300px;
		text-shadow:8px 8px 1px #dadada;
	}
}
/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/
@media (max-width:1199px) and (min-width:992px){
	.col-md-0{
		display: none;
	}
	.error404 h1{
		font-size:200px;
		text-shadow:6px 6px 1px #dadada;
	}
}
/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){
	.col-sm-0{
		display: none;
	}
	.error404 h1{
		font-size:150px;
		text-shadow:4px 4px 1px #dadada;
	}
}
/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media (max-width:767px){
	.col-xs-0{
		display: none;
	}
	.error404 h1{
		font-size:75px;
		text-shadow:2px 2px 1px #dadada;
	}
	#carrito {
		display: list-item;
	}
}