/**
Banner
 */
.banner{
    position: relative;
    overflow: hidden;
}
.banner .bannerText{
    position:absolute;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.banner .leftText{
    top:50px;
    left: 50px;
    text-align: left;
}
.banner .rightText{
    top:50px;
    right: 50px;
    text-align: right;
}
.banner .centerText{
    top:50px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    text-align: center;
}
.bannerText h1{
    font-size: 2.5rem;
    line-height: 25px;
}
.bannerText h3{
    font-size: 1.5rem;
    line-height: 15px;
}
.bannerText p{
    font-size: 1.1rem;
    line-height: 10px;
}

/*
Products ahow
 */
ul.list{
    display: none;
}
.productBar .productShow span{
    margin-left: .75rem;
}
.highLightTitle h1{
    margin-top: -5px;
}
.highLightTitle button span{
    margin-left:5px;
}
.products ul li figure{
    overflow: hidden;
}
.products ul li a img:hover{
    transition: .3s all ease;
    opacity: .8;
    transform: scale(1.1,1.1);
}
.products ul li h4 small{
    color:#777;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
}
.products ul li h4 small a{
    color:#777;
}
.products ul li h1{
    margin-top: -10px;
}
.products ul li div.price{
    padding:0;
    margin-top: -30px;
    padding-bottom: 20px;
}
.products ul li div.links{
    padding:0;
    padding-bottom: 20px;
}
.products ul li div.links button{
    margin: 2px;
}
.products ul li div.links button i{
    color:#999999;
    font-size: 1.1rem;
}
.grid .pixelProduct img{
    width: 300px;
    height: auto;
}
.list .pixelProduct img{
    width: 150px;
    height: 200px;
}
.oferta{
    text-decoration: line-through;
    color: #cccccc;
    font-size: 1.1rem;
}
.fontSize{
    font-size: 1.2rem;
}



@media (max-width: 767px)
{
    .banner{
        height: 100px;
    }
    .banner .rightText, .banner .leftText, .banner .centerText{
        top:1rem;
        left: 50%;
        width: 800px;
        margin-left: -400px;
        text-align: center;
        text-shadow: 2px 2px 20px #000000;
    }
    .bannerText h1{
        font-size: 2rem;
        line-height: 5px;
    }
    .bannerText h3{
        font-size: 1.1rem;
        line-height: 5px;
    }
    .bannerText p{
        font-size: 1rem;
        line-height: 5px;
    }


    .highLightTitle h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .highLightTitle button{
        position: absolute;
        left: 50%;
        width: 40%;
        margin-left: -20%;
    }
}

@media (max-width: 991px) and (min-width: 768px)
{
    .banner{
        height: 160px;
    }
    .banner .rightText, .banner .leftText, .banner .centerText{
        top:1rem;
    }
    .grid .pixelProduct img{
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 1200px) and (min-width: 992px)
{
    .banner{
        height: 200px;
    }
    .banner .rightText, .banner .leftText, .banner .centerText{
        top:2.5rem;
    }
    .grid .pixelProduct img{
        width: 200px;
        height: 267px;
    }
}

@media (min-width: 1200px)
{
    .banner{
        height: 260px;
    }
    .grid .pixelProduct img{
        width: 300px;
        height: 400px;
    }
}



