#slide{
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-bottom: 2rem;
}
#slide ul{
    position: relative;
    left: 0%;
    margin: auto;
    height: auto;
    width: 300%;
    clear: both;
    display: table;
}
#slide ul li.slideShow{
    position: relative;
    float: left;
    width: 33.3%;
}
#slide ul li.slideShow img{
    width: 100%;
}
#slide .slideOption1 img{
    position: absolute;
    opacity: 1;
    height: 98%;
}
#slide .slideOption2 img{
    position: absolute;
    opacity: 1;
    height: 98%;
}
#slide .slideOption1 .textSlide{
    position: absolute;
}
#slide .slideOption2 .textSlide{
    position: absolute;
    text-align: right;
}
#slide .slideOptions h1{
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
    opacity: 1;
    top: -10px;
}
#slide .slideOptions h2{
    font-family: 'Ubuntu Condensed', sans-serif;
    opacity: 1;
    top: -10px;
}
#slide .slideOptions h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    opacity: 1;
    top: -10px;
}
#slide .slideOptions button{
    border:0px;
    margin-top: 10px;
    padding: 10px;
    opacity: 1;
    top: -10px;
} 
#slide .slideOptions button:hover{
    background:black;
    color: white;
    border: 0px;
} 
#slide .slideOptions button span{
    margin-left:.75rem;
}


#slide .arrows{
    position: absolute;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
}
#slide #back{
    background: #666666;
    padding: 40px 15px 40px 10px;
    top: 37%;
    left: 0;
    font-size: 22px;
    opacity: 1;
}
#slide #next{
    background: #666666;
    padding: 40px 10px 40px 15px;
    top: 37%;
    right: 0;
    font-size: 22px;
    opacity: 1;}

#slide #next:hover, #slide #back:hover{
    background: #777777;
}
#slide #back:active, #slide #next:active{
    background: #444444;
}


#slide #pagination{
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    bottom: 0px;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0, .05);
}
#slide #pagination li{
    display: inline-block;
    margin: 0px 5px;
    cursor:pointer;
    opacity: .5;
    color: #fff;
    text-shadow: 0px 0px 5px #333333;
}
#slide #pagination li:first-child{
    opacity:1;
}

/**
MEDIAS QUERIES
 */

/**
MOVIL (XS revisamos en 320px)
 */

@media (max-width: 767px){
    #slide .textSlide{
        margin-top: 1.25rem;
    }
    #slide .textSlide h1{
        margin-top:-2rem;
        font-size: 1.5rem;
    }
    #slide .textSlide h2{
        margin-top:-.5rem;
        font-size: 1.25rem;
    }
    #slide .textSlide h3{
        margin-top:-.5rem;
        font-size: 1rem;
    }
    #slide .textSlide button{
        font-size: 1rem;
        padding: 5px 10px;
    }
}